<!-- Header cart noti -->
<div class="header-cart header-dropdown">
    <ul class="header-cart-wrapitem">
        {% if cart.cartProducts is defined %}
        {% for cartProduct in cart.cartProducts %}
            {% set product = cartProduct.product %}
            <li class="header-cart-item">
                <div class="header-cart-item-img">
                    <img src="{{ product.pictureUrl }}" alt="IMG">
                </div>

                <div class="header-cart-item-txt">
                    <a href="{{ path('product', {'slug': product.slug}) }}" class="header-cart-item-name">
                        {{ product.name }}
                    </a>

                    <form method="post" action="{{ path('cart_delete', {'pid': product.id, 'cid': cart.id})  }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                        <button class="btn">🗑 Delete</button>
                    </form>

                    <span class="header-cart-item-info">
                    {{ cartProduct.quantity }} x {{ price_format(product.price) }}
                </span>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="header-cart-total">
        Total: {{ cart.total }}€
    </div>
    {% endif %}


    <div class="header-cart-buttons">
        <div class="header-cart-wrapbtn">
            <!-- Button -->
            <a href="{{ path('show_cart') }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                View Cart
            </a>
        </div>

        <div class="header-cart-wrapbtn">
            <!-- Button -->
            <a href="{{ path('checkout_cart')  }}" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                Check Out
            </a>
        </div>
    </div>
</div>
