{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div>
        <img src="{{ collection.pictureUrl }}" alt="{{ "Photo de " ~ collection.name }}" style="width: 300px; height: auto;">
        <p>{{ "Nom : " ~ collection.name }}</p>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 col-sm-6">
                    <a href="{{ path('product', {'slug': product.slug}) }}">
                        <img src="{{ product.pictureUrl }}" alt="{{ "Photo de " ~ product.name }}" style="width: 100px; height: auto;" />
                        <p>{{ product.name ~ " (" ~ price_format(product.price) ~ ")" }}</p>
                    </a>
                    <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                        Add to Cart
                    </button>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
